.DS_Store
*.xcuserdatad/
*.xcuserstate
*.xcbkptlist
DerivedData/
build/
.swiftpm/
*.ipa
*.dSYM.zip
*.dSYM
.claude/skills/emil-design-eng/SKILL.md
.gitignore
skills-lock.json
.agents/skills/emil-design-eng/SKILL.md
